// Master Color Palette
$black: #222;
$white: #FFF;
$offWhite: #F1F1F1;
$lightGrey: #CCC;

// Themes
$smBreakpoint: 400px;
$mdBreakpoint: 700px;
$lgBreakpoint: 1124px;

$smWidth: 85%;
$mdWidth: 730px;
$lgWidth: 980px;

$defaultLineHeight: 1em;
